*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* background-color:white; */
}
.main-container{
    display: grid;
    grid-template-columns: 220px 1fr;
    height: 100vh;
}
.container{
    background: #c1c1c2;
    border-radius: 20px;
}
.sidebar{
    padding:40px;
    /* border-right: 10px solid #ddd; */
    
}
.para{
    padding: 10px;
}
.logo{
    margin:20px 0 30px 20px;
}
.sidebar ul li{
    padding: 5px;
    margin-bottom: 10px;
}
.gen{
     padding:40px;
}
